WebSite/WebSite/App_WebReferences/LoanWebService/LoanWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSumLoanDebt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="memCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumLoanDebtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSumLoanDebtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthSoapHd" type="tns:AuthSoapHd" />
      <s:complexType name="AuthSoapHd">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSumLoanDebtSoapIn">
    <wsdl:part name="parameters" element="tns:GetSumLoanDebt" />
  </wsdl:message>
  <wsdl:message name="GetSumLoanDebtSoapOut">
    <wsdl:part name="parameters" element="tns:GetSumLoanDebtResponse" />
  </wsdl:message>
  <wsdl:message name="GetSumLoanDebtAuthSoapHd">
    <wsdl:part name="AuthSoapHd" element="tns:AuthSoapHd" />
  </wsdl:message>
  <wsdl:portType name="LoanWebServiceSoap">
    <wsdl:operation name="GetSumLoanDebt">
      <wsdl:input message="tns:GetSumLoanDebtSoapIn" />
      <wsdl:output message="tns:GetSumLoanDebtSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanWebServiceSoap" type="tns:LoanWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSumLoanDebt">
      <soap:operation soapAction="http://tempuri.org/GetSumLoanDebt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSumLoanDebtAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanWebServiceSoap12" type="tns:LoanWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSumLoanDebt">
      <soap12:operation soapAction="http://tempuri.org/GetSumLoanDebt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSumLoanDebtAuthSoapHd" part="AuthSoapHd" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanWebService">
    <wsdl:port name="LoanWebServiceSoap" binding="tns:LoanWebServiceSoap">
      <soap:address location="http://193.19.144.250:8741/LoanWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanWebServiceSoap12" binding="tns:LoanWebServiceSoap12">
      <soap12:address location="http://193.19.144.250:8741/LoanWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>